{%  extends 'accounts/main.html' %}
{% block content %}

<div class="row m-1">
    <div class="col-md-4">
        <a class="btn btn-warning" href="{% url 'home' %}" style="display:block;"> &#8592; Back to Dashboard</a>
        <hr>
        <h3 style="text-align: center">Account Settings</h3>
        <hr>
        <img id="profile-pic" src="{{request.user.customer.profile_pic}}">
    </div>
    <div class="col-md-8">

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{info_form.as_p}}

            <input class="btn btn-primary" type="submit" name="Update Information">
        </form>

        <hr>

        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h6>Choose a picture to change your profile picture</h6>
            {{profile_pic_form.as_p}}

            <input class="btn btn-primary" type="submit" name="Update Information">
        </form>
    </div>
</div>


{% endblock %}
