{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h5>Contact Information for <strong>{{customer.name}}</strong></h5>
            <hr>
            <p>Email: <strong>{{customer.user.email}}</strong></p>
            <p>Phone: <strong>{{customer.phone}}</strong></p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{orders_count}}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col-sm-3">
        <form method="get">
            {{ filter_form.as_p }}
            <input class="btn btn-success" type="submit" name="submit">
        </form>
    </div>

    <br>

    <div class="col-sm-9">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    {% if not user.is_staff %}
                    <th></th>
                    {% endif %}
                </tr>

                {% for order in orders %}
                <tr>
                    <td>{{order}}</td>
                    <td>{{order.product.category}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                    {% if not user.is_staff %}
                    <td><a class="btn btn-danger  btn-sm btn-block" href="{% url 'delete_order' order.id %}">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </table>
        </div>

        <div class="row justify-content-center m-1">
            <p class="text-center">
                <a class="btn btn-secondary btn-sm mx-5" href="{% url 'customer' request.user.customer.id prev_page %}">Previous</a>
                Page: <strong>{{page}}</strong> of {{pages_count}}
                <a class="btn btn-secondary btn-sm mx-5" href="{% url 'customer' request.user.customer.id next_page %}">Next</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}