{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h5>Contact Information for <strong>{{customer.name}}</strong></h5>
            <hr>
            <p>Email: <strong>{{customer.user.email}}</strong></p>
            <p>Phone: <strong>{{customer.phone}}</strong></p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-body">
            <h5>Total Orders</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px">{{orders_count}}</h1>
        </div>
    </div>
</div>


<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}

                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    {% if not user.is_staff %}
                    <th></th>
                    {% endif %}
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{order}}</td>
                        <td>{{order.product.category}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        {% if not user.is_staff %}
                        <td><a class="btn btn-danger  btn-sm btn-block" href="{% url 'delete_order' order.id %}">Delete</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock %}