{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<div class="row m-1">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Phone Number</th>
                </tr>

                {% for customer in customers%}
                    <tr>
                        <td><a class="btn btn-secondary btn-sm btn-block" href="{% url 'customer' customer.id 1 %}">View</a></td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.phone}}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>

                {% for order in orders%}
                    <tr>
                        <td>{{order}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-secondary  btn-sm btn-block" href="{% url 'update_order' order.id %}">Update</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>
{% endblock %}