{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}
<br>
<h3>Update Order</h3>

<div class="row justify-content-center m-1">
    <div class="col-md-6">
        <div class="card m-1">
            <div style="background-image:url('{{product.product_pic}}'); height: 300px; width: auto;background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;">
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}

                    <p>Product Name: <strong>{{ product.name }}</strong></p>
                    <p>Product Quantity: <strong>{{ order_quantity }}</strong></p>

                    {{ update_form.as_p }}

                    <input class="btn btn-success" type="submit" name="submit">
                    <a class="btn btn-danger" href="{% url 'admin_page'%}">Cancel</a>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}