{% extends 'accounts/main.html' %}

{% block content %}
<br>
<h3>Products</h3>
<div class="row m-1 justify-content-center">
    {% for i in products %}
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card m-1">
            <div style="background-image:url('{{i.product_pic}}'); height: 300px; width: auto;background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;">
            </div>
            <div class="card-body">
                <p><h4>{{i.name}}</h4></p>
                <p><strong>{{i.description}}</strong></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{i.category}}</li>
                <li class="list-group-item">{{i.price}}$</li>
                <li class="list-group-item">
                    <div class="btn-group" style="width:100%">
                        <a class="btn btn-outline-dark m-1 btn-block" href="{% url 'create_order' i.id %}">Place Order</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}