{% extends 'accounts/main.html' %}

{% block content %}
<br>
<h3>Products</h3>
<div class="row m-1 justify-content-center">
    {% for i in products %}
    <div class="col-md-6 col-lg-4">
        <div class="card m-1">
            <div style="background-image:url('{{i.product_pic}}'); height: 300px; width: auto;background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;">
            </div>
            <div class="card-body">
                <p><h4>{{i.name}}</h4></p>
                <p><strong>{{i.description}}</strong></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge bg-info text-white">{{i.category}}</span>
                    {% for t in i.tags.all %}
                        <span class="badge bg-secondary text-white">{{t.name}}</span>
                    {% endfor %}
                </li>
                <li class="list-group-item">{{i.price}}$</li>
                <li class="list-group-item">
                    <div class="btn-group" style="width:100%">
                        {% if request.user.is_staff %}
                        <a class="btn btn-outline-dark m-1 btn-block" href="{% url 'edit_product' i.id %}">Edit Product</a>
                        <a class="btn btn-outline-danger m-1 btn-block" href="{% url 'delete_product' i.id %}">Delete Product</a>
                        {% else %}
                        <a class="btn btn-outline-dark m-1 btn-block" href="{% url 'create_order' i.id %}">Place Order</a>
                        {% endif %}
                    </div>
                </li>


            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}